@using CRUDelicious.Models 
@model Dish 

@{ ViewData["Title"] = "Add a new Dish!";}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<form asp-action="Create" asp-controller="Home" method="POST">
    <div class="row">
        <div class="col-5">
            <div class="form-group">
                <label asp-for="Chef">Chef's Name</label>
                <input type="text" asp-for="Chef" class="form-control"/>
                <span asp-validation-for="Chef"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name">Name of Dish</label>
                <input type="text" asp-for="Name" class="form-control" />
                <span asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <label asp-for="Calories"># of Calories</label>
                <input type="number" asp-for="Calories" class="form-control" />
                <span asp-validation-for="Calories"></span>
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label asp-for="Tastiness">Tastiness</label>
                <input type="number" asp-for="Tastiness" min="1" max="5" class="form-control"/>
                <span asp-validation-for="Tastiness"></span>
            </div>
        </div>
        <dZiv class="col-5">
            <div class="form-group">
                <label asp-for="Description">Description</label>
                <textarea rows="5" cols="10" class="form-control" asp-for="Description"></textarea>
                <span asp-validation-for="Description"></span>
            </div>
            <div class="form-group">
                <button type="submit">Add Dish</button>
            </div>
        </div>
    </div>
</form>
