<h1>@ViewBag.Example</h1>

<form action="process" method="post">
    <p>
        Your Name:
        <input type="text" name="name" />
    </p>
    <p>
        Dojo Location:
        <select name="location">
            <option value="Chicago">Chicago</option>
            <option value="San Jose">San Jose</option>
            <option value="Tulsa">Tulsa</option>
            <option value="Berkeley">Berkeley</option>
        </select>
    </p>
    <p>
        Fav Language:
        <select name="language">
            <option value="C#">C#</option>
            <option value="Java">Java</option>
            <option value="Python">Python</option>
            <option value="JavaScript">JavaScript</option>
        </select>
    </p>
    <textarea type="text" name="comments"></textarea> <br>
    <button type="submit">Submit</button>
</form>