@model User;
@{
ViewData["Title"] = "Register";
}

<div class="container">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">
            <h2>Register to this Site!</h2>
            <form asp-action="Register" asp-controller="Home" method="post">
                <div class="form-group">
                    <span asp-validation-for="FirstName"></span>
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="First Name">
                </div>
                <div class="form-group">
                    <span asp-validation-for="LastName"></span>
                    <label asp-for="LastName">Last Name</label>
                    <input asp-for="LastName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Last Name">
                </div>
                <div class="form-group">
                    <span asp-validation-for="Email"></span>
                    <label asp-for="Email">Email address</label>
                    <input asp-for="Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Enter email">
                </div>
                <div class="form-group">
                    <span asp-validation-for="Password"></span>
                    <label asp-for="Password">Password</label>
                    <input asp-for="Password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group">
                    <span asp-validation-for="CPW"></span>
                    <label asp-for="CPW"></label>Confirm Password</label>
                    <input asp-for="CPW" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-sm">
        </div>
    </div>
</div>