<style>
    * {
        text-align: center;
    }

    .main {
        border: 1px solid black;
        display: inline-block;
        padding: 40px;
        margin: 5px;
    }
</style>

<body>
    <h4>Fullness: 100 Happiness: 90 Meals: 2 Energy: 45 </h4>
    <div class="main">
        <img src="https://i.shgcdn.com/722f31db-7e1e-4bb7-b82e-fa1646bb25d1/-/format/auto/-/stretch/off/-/resize/3000x/-/quality/lighter/"
            alt="">
        <p>You played with your Dojodachi! Happiness +10</p>
    </div>
    <div class="buttons">
        <button type="button" class="btn btn-primary">Feed</button>
        <button type="button" class="btn btn-dark">Play</button>
        <button type="button" class="btn btn-success">Work</button>
        <button type="button" class="btn btn-info">Sleep</button>
    </div>
</body>