<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Projects | Aleksandar Nedelkovski</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
        #portfolio {
            display: inline-block;
        }
        </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm">

            </div>
            <div class="col-sm">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Projects <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <br>
                <h3>Here are some projects of mine</h3> <br>
            </div>
            <div class="col-sm">
            </div>
        </div>
        <div class="row">
            <div id="portfolio" class="col-12">
                <div>
                    <img src="http://www.personalbrandingblog.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640-300x300.png"
                        alt="">
                    <h3>Project 1</h3>
                    <p>Description:
                        <h5>I like stuff</h5>
                    </p>
                </div>
                <div>
                    <img src="http://www.personalbrandingblog.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640-300x300.png"
                        alt="">
                    <h3>Project 2</h3>
                    <p>Description:
                        <h5>I like stuff 2</h5>
                    </p>
                </div>
                <div>
                    <img src="http://www.personalbrandingblog.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640-300x300.png"
                        alt="">
                    <h3>Project 3</h3>
                    <p>Description:
                        <h5>I like stuff 3</h5>
                    </p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>