@model User;
@using Login_Regis.Models;

@{
    ViewData["Title"] = "Login_Regis";
}

<a href="/login">Login page</a>

<form asp-action="Register" asp-controller="Home" method="post">
    <div class="form-group">
        <span asp-validation-for="FirstName"></span>
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="First Name">
        <small id="emailHelp" class="form-text text-muted">We'll never share your first name with anyone else.</small>
    </div>
    <div class="form-group">
        <span asp-validation-for="LastName"></span>
        <label asp-for="LastName">Last Name</label>
        <input asp-for="LastName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Last Name">
        <small id="emailHelp" class="form-text text-muted">We'll never share your last name with anyone else.</small>
    </div>
    <div class="form-group">
        <span asp-validation-for="Email"></span>
        <label asp-for="Email">Email address</label>
        <input asp-for="Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <span asp-validation-for="Password"></span>
        <label asp-for="Password">Password</label>
        <input asp-for="Password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group">
        <span asp-validation-for="Confirm"></span>
        <label asp-for="Confirm"></label>Password</label>
        <input asp-for="Confirm" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>